@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Contrôle géometrique N° " + XpertHelper.QualiteControlGeometrique;
}
<title>@ViewData["Title"]</title>
@{ControlGeometrique raport = new ControlGeometrique();
    raport.Parameters["NumControl"].Value = XpertHelper.QualiteControlGeometrique;
    raport.Name = "Contrôle géometrique N°" + XpertHelper.QualiteControlGeometrique;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);