@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Essai Mécanique N° " + XpertHelper.QualiteEssaisMecanique;
}
<title>@ViewData["Title"]</title>
@{EssaisMecaniqueQualite raport = new EssaisMecaniqueQualite();
    raport.Parameters["NumEassai"].Value = XpertHelper.QualiteEssaisMecanique;
    raport.Name = "Essai Mécanique N°" + XpertHelper.QualiteEssaisMecanique;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);