@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Décharge N° " + XpertHelper.NumDechargeXtra;
}
<title>@ViewData["Title"]</title>
@{Decharge raport = new Decharge();
    raport.Parameters["NumDecharge"].Value = XpertHelper.NumDechargeXtra;
    raport.Name = "Décharge N° " + XpertHelper.NumDechargeXtra;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);