@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "DF N° " + XpertHelper.NumDemandeFournitureMagasin;
}
<title>@ViewData["Title"]</title>
@{DemandeFourniture raport = new DemandeFourniture();
    raport.Parameters["NumDemande"].Value = XpertHelper.NumDemandeFournitureMagasin;
    raport.Name = "DF_N°" + XpertHelper.NumDemandeFournitureMagasin;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);