@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Etat Fournisseur Global";
}
<title>@ViewData["Title"]</title>
@{FournisseursGlobaleEntrees raport = new FournisseursGlobaleEntrees();
    raport.Parameters["DateDebut"].Value = DateTime.Now.Date;
    raport.Parameters["DateFin"].Value = DateTime.Now.Date;
    raport.Name = "Etat Fournisseur Global";
    raport.RequestParameters = true;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);