@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Transfert N° " + XpertHelperGestionnaireMagasin.NumBonTransfertXtra;
}
<title>@ViewData["Title"]</title>
@{BonTransfert raport = new BonTransfert();
    raport.Parameters["NumBonTransfert"].Value = XpertHelperGestionnaireMagasin.NumBonTransfertXtra;
    raport.Name = "Transfert N° " + XpertHelperGestionnaireMagasin.NumBonTransfertXtra;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);