@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Demande Achat N° " + XpertHelperGestionnaireMagasin.NumDemandeAchatXtra;
}
<title>@ViewData["Title"]</title>
@{DemandeAchat raport = new DemandeAchat();
    raport.Parameters["NumDemandeAchat"].Value = XpertHelperGestionnaireMagasin.NumDemandeAchatXtra;
    raport.Name = "Demande Achat N° " + XpertHelperGestionnaireMagasin.NumDemandeAchatXtra;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);