@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Etat Fournisseur N° " + XpertHelperGestionnaireMagasin.EtatFournisseur;
}
<title>@ViewData["Title"]</title>
@{EtatFournisseur raport = new EtatFournisseur();
    raport.Parameters["NumeroFournisseur"].Value = XpertHelperGestionnaireMagasin.EtatFournisseur;
    raport.Parameters["DateDebut"].Value = DateTime.Now.Date;
    raport.Parameters["DateFin"].Value = DateTime.Now.Date;
    raport.Name = "Etat Fournisseur N° " + XpertHelperGestionnaireMagasin.EtatFournisseur;
    raport.RequestParameters = true;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);