@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Suivi Article N° " + XpertHelperGestionnaireMagasin.CodePdrSuivi;
}
<title>@ViewData["Title"]</title>
@{SuiviArticle raport = new SuiviArticle();
    raport.Parameters["CodePdr"].Value = XpertHelperGestionnaireMagasin.CodePdrSuivi;
    raport.Parameters["DateDebut"].Value = DateTime.Now;
    raport.Parameters["DateFin"].Value = DateTime.Now;
    raport.Name = "Suivi Article N° " + XpertHelperGestionnaireMagasin.CodePdrSuivi;
    raport.RequestParameters = true;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);