@using DevKbfSteel.Helpers;

@{
    ViewData["Title"] = "Magasin Agent";
    Layout = "~/Views/Shared/_LayoutMagasinAgent.cshtml";
}
<html style="height:100%;">

<body style="        height: 98%;">

</body>
</html>

<script>
    function toggleVisibility(item) {
        if (item.isVisible()) {
            item.hide();
        } else {
            item.show();
        }
    }
</script>
