<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Dashboard Web Application</title>
    <!-- Attach the bundled CSS files and scripts. -->
    <link href="css/site.min.css" rel="stylesheet" />
    <script src="js/site.min.js"></script>
    <!-- ... -->
</head>
<body>
    @RenderBody()
</body>
</html>