@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "OT N° " + XpertHelper.NumOt;
}
<title>@ViewData["Title"]</title>
@{RaportOrdreTravail raport = new RaportOrdreTravail();
    raport.Parameters["Num_Ot"].Value = XpertHelper.NumOt;
    raport.Name = "OT_N°" + XpertHelper.NumOt;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);