/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),local('Roboto-Light'),url(fonts/Roboto-300.woff2) format('woff2'),url(fonts/Roboto-300.woff) format('woff'),url(fonts/Roboto-300.ttf) format('truetype');
}

@font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),local('Roboto-Regular'),url(fonts/Roboto-400.woff2) format('woff2'),url(fonts/Roboto-400.woff) format('woff'),url(fonts/Roboto-400.ttf) format('truetype');
}

@font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),local('Roboto-Medium'),url(fonts/Roboto-500.woff2) format('woff2'),url(fonts/Roboto-500.woff) format('woff'),url(fonts/Roboto-500.ttf) format('truetype');
}

@font-face {
    font-family: RobotoFallback;
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),local('Roboto-Bold'),url(fonts/Roboto-700.woff2) format('woff2'),url(fonts/Roboto-700.woff) format('woff'),url(fonts/Roboto-700.ttf) format('truetype');
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('https://drive.google.com/file/d/120ttnOvOg9sq9fIcQXI6wA07lQD8DN5_/view?usp=sharing');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*for tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-family: RobotoFallback;
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

#JourneeProdGrid .dx-datagrid-group-panel {
    font-family: RobotoFallback;
    padding: 0;
    background-color: rgba(85, 149, 222, 0.6);
    stop-opacity :unset;
    width: 2000px;
    color :snow;
}
#gridContainer .dx-datagrid-group-panel .dx-toolbar {
    margin: 0;
    padding-right: 20px;
    background-color: transparent;
}
#gridContainer .dx-datagrid-group-panel .dx-toolbar-items-container {
    height: 70px;
}


#DetailJourneeProduction {
    elevation: above;
    background-color: rgba(85, 149, 222, 0.6);
    opacity : 0.4;
}

#gridContainer .dx-datagrid-header-panel .dx-toolbar {
    margin: 0;
    padding-right: 20px;
    background-color: transparent;
}
#gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
    height: 70px;
}

#gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
    background-color: rgba(103, 171, 255, 0.6);
}

#gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
    padding-right: 10px;
}

#gridContainer .dx-datagrid-header-panel .dx-selectbox {
    margin: 17px 10px;
}

#gridContainer .dx-datagrid-header-panel .dx-button {
    margin: 17px 0;
}


.dx-datagrid-checkbox-size {
    vertical-align: middle;
}

.dx-datagrid-important-margin {
    margin-right: 5px !important;
}

.dx-datagrid-table {
    background-color: transparent;
}

.dx-datagrid .dx-datagrid-content-fixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

    .dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table {
        position: relative;
    }

        .dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table td {
            pointer-events: auto;
        }

        .dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table .dx-row td.dx-pointer-events-none {
            visibility: hidden;
            background-color: transparent;
            pointer-events: none;
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table .dx-header-row td.dx-pointer-events-none {
            border-bottom-color: transparent;
        }

        .dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table.dx-datagrid-table-fixed .dx-row td.dx-pointer-events-none {
            width: auto;
        }

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-total-footer {
    border-top: 0;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-pager {
    margin-top: 1px;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-header-panel {
    border-bottom: 0;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-rowsview.dx-last-row-border tbody:last-child > .dx-data-row:nth-last-child(2) > td {
    border-bottom-width: 0;
}

.dx-datagrid .dx-menu-subitem ul li {
    padding-top: 0;
}

    .dx-datagrid .dx-menu-subitem ul li:first-child {
        padding-top: 1px;
    }

.dx-datagrid .dx-menu-subitem .dx-menu-item {
    padding: 7px 30px 7px 5px;
}

    .dx-datagrid .dx-menu-subitem .dx-menu-item .dx-menu-image {
        background-position-x: left;
    }

.dx-datagrid .dx-link {
    text-decoration: underline;
    cursor: pointer;
}

.dx-datagrid .dx-column-indicators {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

    .dx-datagrid .dx-column-indicators.dx-visibility-hidden {
        visibility: hidden;
    }

    .dx-datagrid .dx-column-indicators .dx-sort-index-icon {
        width: 15px;
    }

    .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter,
    .dx-datagrid .dx-column-indicators .dx-header-filter.dx-sort,
    .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter,
    .dx-datagrid .dx-column-indicators .dx-sort.dx-sort {
        display: inline-block;
    }

        .dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter::after,
        .dx-datagrid .dx-column-indicators .dx-sort.dx-header-filter::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: -7px;
        }

.dx-datagrid .dx-row > td,
.dx-datagrid .dx-row > tr > td {
    padding: 7px;
}

.dx-datagrid .dx-error-row {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

    .dx-datagrid .dx-error-row .dx-error-message {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

        .dx-datagrid .dx-error-row .dx-error-message a {
            color: inherit;
        }

.dx-datagrid .dx-datagrid-rowsview .dx-data-row .dx-command-drag {
    cursor: move;
    vertical-align: middle;
    padding: 0;
}

.dx-sortable-dragging .dx-datagrid-rowsview .dx-data-row .dx-command-drag {
    cursor: pointer;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.dx-sortable-without-handle .dx-data-row {
    cursor: pointer;
}

.dx-datagrid-column-chooser .dx-overlay-content .dx-popup-title {
    font-size: 16px;
}

.dx-datagrid-column-chooser .dx-overlay-content .dx-popup-content {
    padding: 0 20px 20px;
}

    .dx-datagrid-column-chooser .dx-overlay-content .dx-popup-content .dx-column-chooser-item {
        opacity: .5;
        -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,.2);
        box-shadow: 0 1px 3px -1px rgba(0,0,0,.2);
    }

        .dx-datagrid-column-chooser .dx-overlay-content .dx-popup-content .dx-column-chooser-item.dx-datagrid-drag-action {
            opacity: 1;
            cursor: pointer;
            -ms-touch-action: pinch-zoom;
            touch-action: pinch-zoom;
        }

.dx-datagrid-column-chooser.dx-datagrid-column-chooser-mode-drag .dx-treeview-node-container:first-child > .dx-treeview-node-is-leaf {
    padding: 0;
}

.dx-datagrid-column-chooser.dx-datagrid-column-chooser-mode-select .dx-datagrid-column-chooser-plain .dx-treeview-node {
    padding-left: 0;
}

    .dx-datagrid-column-chooser.dx-datagrid-column-chooser-mode-select .dx-datagrid-column-chooser-plain .dx-treeview-node .dx-checkbox {
        left: 4px;
    }

.dx-datagrid-nowrap,
.dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
    white-space: nowrap;
}

.dx-datagrid-drag-header {
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    z-index: 10000;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    .dx-datagrid-drag-header.dx-drag-command-cell {
        padding: 0;
    }

.dx-datagrid-columns-separator {
    position: absolute;
    z-index: 3;
    width: 3px;
}

.dx-datagrid-columns-separator-transparent {
    border-left: 0;
    border-right: 0;
}

.dx-datagrid-tracker {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    cursor: col-resize;
}

.dx-datagrid-table-content {
    position: absolute;
    top: 0;
}

.dx-datagrid-focus-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    visibility: hidden;
}

.dx-datagrid-action,
.dx-datagrid-drag-action {
    cursor: pointer;
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-modified):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) .dx-link {
    color: inherit;
}

.dx-datagrid-content {
    position: relative;
}

    .dx-datagrid-content .dx-overlay-wrapper.dx-invalid-message.dx-datagrid-invalid-message {
        visibility: visible;
    }

        .dx-datagrid-content .dx-overlay-wrapper.dx-invalid-message.dx-datagrid-invalid-message .dx-overlay-content,
        .dx-datagrid-text-content {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.dx-datagrid-table-fixed {
    table-layout: fixed;
    width: 100%;
}

input.dx-hidden {
    display: inline-block !important;
    width: 0 !important;
}

.dx-hidden-cell {
    visibility: hidden;
}

.dx-row > td,
.dx-row > tr > td {
    border: none;
}

.dx-datagrid-content .dx-datagrid-table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    max-width: 10px;
}

    .dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed {
        max-width: none;
    }

        .dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed .dx-column-indicators .dx-sort.dx-sort-none {
            display: none;
        }

        .dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed .dx-column-indicators .dx-sort.dx-sort-index {
            width: 26px;
        }

    .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-column-indicators {
        float: none !important;
    }

        .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-column-indicators > span {
            width: 14px;
        }

        .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-column-indicators .dx-sort.dx-sort-none {
            display: inline-block;
        }

    .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-header-row .dx-datagrid-text-content {
        max-width: none;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-text-content-alignment-left {
        margin-right: 3px;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-datagrid-best-fit .dx-text-content-alignment-right {
        margin-left: 3px;
    }

    .dx-datagrid-content .dx-datagrid-table:not(.dx-datagrid-table-fixed) .dx-column-indicators {
        float: none !important;
    }

        .dx-datagrid-content .dx-datagrid-table:not(.dx-datagrid-table-fixed) .dx-column-indicators > span {
            width: 14px;
        }

    .dx-datagrid-content .dx-datagrid-table:not(.dx-datagrid-table-fixed) .dx-text-content-alignment-left {
        margin-right: 3px;
    }

    .dx-datagrid-content .dx-datagrid-table:not(.dx-datagrid-table-fixed) .dx-text-content-alignment-right {
        margin-left: 3px;
    }

    .dx-datagrid-content .dx-datagrid-table:not(.dx-datagrid-table-fixed) .dx-master-detail-cell {
        max-width: 0;
    }

    .dx-datagrid-content .dx-datagrid-table [class*=column] + [class*=column]:last-child {
        float: none;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row > td,
    .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
        vertical-align: top;
    }

        .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child,
        .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
            border-left: 0;
        }

        .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space,
        .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td.dx-datagrid-group-space {
            border-right: none;
            vertical-align: top;
        }

            .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space + td,
            .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td.dx-datagrid-group-space + td {
                border-left: none;
            }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-container {
        overflow: hidden;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-datagrid-invalid .dx-invalid-message.dx-overlay {
        position: static;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
        max-width: 0;
        padding: 0;
        vertical-align: middle;
    }

        .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell:not(.dx-command-select) {
            overflow: visible;
        }

        .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor,
        .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container {
            border: 0;
            margin: 0;
        }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
        padding: 0;
        width: 70px;
        min-width: 70px;
        max-width: 70px;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit {
        text-overflow: clip;
        width: 100px;
        min-width: 100px;
        white-space: nowrap;
    }

        .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit.dx-command-edit-with-icons {
            width: 80px;
            min-width: 80px;
        }

            .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit.dx-command-edit-with-icons .dx-link {
                text-decoration: none;
            }

        .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit .dx-link {
            display: inline-block;
        }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-expand {
        padding: 0;
        width: 30px;
        min-width: 30px;
        max-width: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-adaptive {
        padding: 0;
        vertical-align: middle;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-data-row .dx-command-edit-with-icons {
        line-height: 1;
        white-space: nowrap;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-filter-range-content {
        padding: 7px 7px 7px 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row > .dx-last-data-cell {
        border-right: none;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row > .dx-command-adaptive-hidden {
        border-left: none;
    }

.dx-cell-modified,
.dx-datagrid-invalid,
.dx-highlight-outline {
    position: relative;
    padding: 7px;
}

    .dx-cell-modified::after,
    .dx-datagrid-invalid::after,
    .dx-highlight-outline::after {
        content: "";
        position: absolute;
        border: 2px solid transparent;
        top: 0;
        left: 1px;
        bottom: 0;
        right: 0;
        pointer-events: none;
    }

    .dx-cell-modified.dx-hidden,
    .dx-datagrid-invalid.dx-hidden,
    .dx-highlight-outline.dx-hidden {
        display: block !important;
    }

        .dx-cell-modified.dx-hidden::after,
        .dx-datagrid-invalid.dx-hidden::after,
        .dx-highlight-outline.dx-hidden::after {
            display: none;
        }

.dx-editor-cell .dx-texteditor-input {
    margin: 0;
}

.dx-editor-cell .dx-highlight-outline,
.dx-editor-cell.dx-cell-modified,
.dx-editor-cell.dx-datagrid-invalid {
    padding: 0;
}

.dx-editor-cell.dx-editor-inline-block:not(.dx-command-select)::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
}

.dx-column-lines .dx-cell-modified::after,
.dx-column-lines .dx-datagrid-invalid::after,
.dx-column-lines .dx-highlight-outline::after {
    left: 0;
}

.dx-datagrid-headers {
    position: relative;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.dx-header-row .dx-editor-cell .dx-select-checkbox {
    display: inline-block;
}

.dx-header-row > td {
    white-space: nowrap;
    overflow: hidden;
}

    .dx-header-row > td > .dx-datagrid-text-content {
        white-space: normal;
        vertical-align: top;
    }

.dx-header-row .dx-text-content-alignment-left,
.dx-header-row .dx-text-content-alignment-right {
    display: inline-block;
    max-width: 100%;
}

.dx-header-row .dx-header-filter-indicator,
.dx-header-row .dx-sort-indicator {
    max-width: calc(100% - 17px);
}

    .dx-header-row .dx-header-filter-indicator.dx-text-content-alignment-left,
    .dx-header-row .dx-sort-indicator.dx-text-content-alignment-left {
        margin-right: 3px;
    }

    .dx-header-row .dx-header-filter-indicator.dx-text-content-alignment-right,
    .dx-header-row .dx-sort-indicator.dx-text-content-alignment-right {
        margin-left: 3px;
    }

    .dx-header-row .dx-header-filter-indicator.dx-text-content-alignment-left.dx-text-content-alignment-right,
    .dx-header-row .dx-sort-indicator.dx-text-content-alignment-left.dx-text-content-alignment-right {
        max-width: calc(100% - 34px);
    }

    .dx-header-row .dx-sort-indicator.dx-header-filter-indicator {
        max-width: calc(100% - 31px);
    }

        .dx-header-row .dx-sort-indicator.dx-header-filter-indicator.dx-text-content-alignment-left.dx-text-content-alignment-right {
            max-width: calc(100% - 62px);
        }

    .dx-header-row .dx-sort-indicator.dx-sort-index-indicator {
        max-width: calc(100% - 29px);
    }

        .dx-header-row .dx-sort-indicator.dx-sort-index-indicator.dx-header-filter-indicator {
            max-width: calc(100% - 43px);
        }

        .dx-header-row .dx-sort-indicator.dx-sort-index-indicator.dx-text-content-alignment-left.dx-text-content-alignment-right {
            max-width: calc(100% - 46px);
        }

        .dx-header-row .dx-sort-indicator.dx-sort-index-indicator.dx-header-filter-indicator.dx-text-content-alignment-left.dx-text-content-alignment-right {
            max-width: calc(100% - 74px);
        }

.dx-datagrid-filter-range-overlay .dx-editor-container .dx-texteditor {
    border-width: 0;
}

    .dx-datagrid-filter-range-overlay .dx-editor-container .dx-texteditor.dx-state-focused::after {
        content: " ";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        z-index: 1;
        pointer-events: none;
    }

.dx-datagrid-filter-range-overlay .dx-datagrid-filter-range-end {
    border-top: 1px solid transparent;
}

.dx-datagrid-filter-range-overlay .dx-editor-container.dx-cell-modified,
.dx-datagrid-filter-range-overlay .dx-editor-container.dx-datagrid-invalid {
    padding: 0;
}

.dx-datagrid-filter-row .dx-editor-cell .dx-menu {
    display: none;
}

.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu {
    position: relative;
}

    .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-menu {
        display: block;
    }

    .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-placeholder::before,
    .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input {
        padding-left: 32px;
    }

.dx-datagrid-filter-row .dx-cell-modified::after,
.dx-datagrid-filter-row .dx-datagrid-invalid::after {
    pointer-events: none;
}

.dx-datagrid-filter-row .dx-focused .dx-highlight-outline::after,
.dx-datagrid-filter-row .dx-focused.dx-cell-modified::after,
.dx-datagrid-filter-row .dx-focused.dx-datagrid-invalid::after {
    border-color: transparent;
}

.dx-datagrid-filter-row .dx-menu {
    z-index: 1;
    position: absolute;
    top: 0;
    cursor: pointer;
    margin-left: -2px;
    margin-top: -2px;
    height: 100%;
    overflow: visible;
}

    .dx-datagrid-filter-row .dx-menu .dx-menu-horizontal {
        height: 100%;
    }

        .dx-datagrid-filter-row .dx-menu .dx-menu-horizontal .dx-menu-item-popout,
        .dx-datagrid-filter-row .dx-menu .dx-menu-horizontal .dx-menu-item-text {
            display: none;
        }

.dx-datagrid-filter-row .dx-menu-item.dx-state-focused::after {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 100%;
    height: 102%;
    content: "";
}

.dx-datagrid-filter-row > .dx-first-cell .dx-menu,
.dx-datagrid-filter-row > td:first-child .dx-menu {
    margin-left: 0;
}

.dx-datagrid-filter-row .dx-menu-horizontal .dx-overlay-content ul .dx-menu-item {
    padding: 5px 30px 5px 5px;
}

.dx-datagrid-filter-row .dx-menu ul.dx-menu-horizontal > li > .dx-menu-item {
    padding: 8px 5px 7px;
}

    .dx-datagrid-filter-row .dx-menu ul.dx-menu-horizontal > li > .dx-menu-item.dx-state-disabled:hover {
        padding: 9px 6px 8px;
    }

.dx-datagrid-filter-row .dx-menu-caption {
    padding-left: 6px;
}

.dx-datagrid-filter-row .dx-menu ul .dx-menu-item .dx-menu-chouser-down {
    display: none;
}

.dx-datagrid-filter-row .dx-menu-item-highlight {
    font-weight: 400;
}

.dx-datagrid-scroll-container {
    overflow: hidden;
    width: 100%;
}

.dx-datagrid-header-panel {
    text-align: left;
}

    .dx-datagrid-header-panel .dx-toolbar-menu-container .dx-button {
        margin-left: 10px;
    }

.dx-state-disabled {
    cursor: pointer;
}

    .dx-state-disabled .dx-menu-item {
        cursor: default;
    }

.dx-datagrid-search-panel {
    margin: 0 0 0 15px;
}

.dx-gridbase-container > .dx-datagrid-rowsview {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    height: auto;
}