@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "DT N° " + XpertHelper.NumDt;
}
<title>@ViewData["Title"]</title>

@{DemandeTravail raport = new DemandeTravail();
    raport.Parameters["NumDt"].Value = XpertHelper.NumDt;
    raport.Name = "DT_N°" + XpertHelper.NumDt;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);