@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "DS N° " + XpertHelper.NumDemandeService;
}
<title>@ViewData["Title"]</title>
@{DemandeService raport = new DemandeService();
    raport.Parameters["NumeroDemandeService"].Value = XpertHelper.NumDemandeService;
    raport.Name = "DS_N°" + XpertHelper.NumDemandeService;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);