@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Bon Affectation N° " + XpertHelper.NumBonAffectationXtraAgent;
}
<title>@ViewData["Title"]</title>
@{BonAffectation raport = new BonAffectation();
    raport.Parameters["NumBonAffectation"].Value = XpertHelper.NumBonAffectationXtraAgent;
    raport.Name = "Bon Affectation N° " + XpertHelper.NumBonAffectationXtraAgent;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);