@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Réintegration N° " + XpertHelper.NumBonReintegrationXtra;
}
<title>@ViewData["Title"]</title>
@{Reintegration raport = new Reintegration();
    raport.Parameters["NumBonReintegration"].Value = XpertHelper.NumBonReintegrationXtra;
    raport.Name = "Réintegration N° " + XpertHelper.NumBonReintegrationXtra;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);