@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Etat Compte Comptable N° " + XpertHelper.Cc;
}
<title>@ViewData["Title"]</title>
@{EtatCompteComptable raport = new EtatCompteComptable();
    raport.Parameters["NumCompteComptable"].Value = XpertHelper.Cc;
    raport.Parameters["DateDebut"].Value = DateTime.Now.Date;
    raport.Parameters["DateFin"].Value = DateTime.Now.Date;
    raport.Name = "Etat Compte Comptable N° " + XpertHelper.Cc;
    raport.RequestParameters = true;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);