@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers;
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Reception billete N° " + XpertHelper.NumBonReceptionBilletteXtra;
}
<title>@ViewData["Title"]</title>
@{ReceptionBilette raport = new ReceptionBilette();
    raport.Parameters["NumReception"].Value = XpertHelper.NumBonReceptionBilletteXtra;
    raport.Name = "Reception billete N° " + XpertHelper.NumBonReceptionBilletteXtra;
    raport.RequestParameters = false;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);