@using DevExpress.AspNetCore
@using DevKbfSteel.Reports
@using DevKbfSteel.Helpers
<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    ViewData["Title"] = "Suivi E/S";
}
<title>@ViewData["Title"]</title>
@{
    SuiviMovementNew raport = new SuiviMovementNew();
    raport.Parameters["DateDebut"].Value = DateTime.Now;
    raport.Parameters["DateFin"].Value = DateTime.Now;
    raport.Name = "SuiviES_" + raport.Parameters["DateDebut"].Value + "_" + raport.Parameters["DateFin"].Value;
    raport.RequestParameters = true;
    raport.Visible = true;
}
@Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(raport);